body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'RubikDoodle';
  src: url('./fonts/RubikDoodleShadow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AmaticSC';
  src: url('./fonts/AmaticSC-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Karantina';
  src: url('./fonts/Karantina-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Tinos';
  src: url('./fonts/Tinos-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bona';
  src: url('./fonts/BonaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikMicrobe-Regular';
  src: url('./fonts/RubikMicrobe-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'drugulinclm';
  src: url('./fonts/drugulinclm-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Yiddish';
  src: url('./fonts/YiddishkeitAlefAlefAlef-Bold.woff') format('woff');
}


h1 {
  font-family: 'RubikDoodle', cursive;

  font-size: 5rem;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  /* letter-spacing: 0.02em; */
}

p {
  font-family: 'Varela Round', sans-serif;
}

